alias editaliases='vi ~/.aliases'
alias editexports='vi ~/.exports'
alias ga='git add'
alias gc='git checkout'
alias gcm='git commit -m'
alias gcp='git cherry-pick'
alias gd='git diff'
alias gm='git merge'
alias gp='git pull'
alias gpo='git push origin'
alias grm='git rm'
alias gs='git status'
alias pack='webpack --config webpack.config.js'
alias pgstart='postgres -D /usr/local/var/postgres > /dev/null'
alias resource='source ~/.zshrc'
alias rgc='rvm gemset create'
alias rgd='rvm gemset delete'
alias rgl='rvm gemset list'
alias rgu='rvm gemset use'
alias rvc='rvm current'
