### Meta ###
alias editconfig="vi ~/.bashrc"

# SHELL - edit settings
alias editaliases="vi ~/.aliases"
alias editexports="vi ~/.exports"

# GIT
#
## BASH/ZSH
#
alias ga="git add"
alias gb="git branch"
alias gc="git checkout"
alias gcm="git commit -m"
alias gcp="git cherry-pick"
alias gd="git diff"
alias gm="git merge"
alias gmm="if read_confirm; git merge master; end"
alias gp="git pull"
alias gpb="git pull (git config --get remote.origin.url) (git rev-parse --abbrev-ref HEAD)"
alias gpo="git push origin (git rev-parse --abbrev-ref HEAD)"
alias grh="git reset --hard HEAD~1"
alias grm="git rm"
alias gs="git status"
alias gum="git reset --merge ORIG_HEAD"
alias gbc="git branch \1; git checkout \1;

# SHELL - ls
alias l="ls -CF"
alias la="ls -A"
alias ll="ls -alF"
alias lldir="ls -la | grep ^d"

# WEBPACK
alias pack="webpack --config webpack.config.js"

# POSTGRES
alias pgstart="postgres -D $PG_DATA_DIR start > /dev/null"

alias resource="source ~/.exports; source ~/.aliases"

# NVM

# UTILITIES
# function read_confirm
#   while true
#     read -l -P 'Do you want to continue? [y/N] ' confirm
#
#     switch $confirm
#       case Y y
#         return 0
#       case '' N n
#         return 1
#     end
#   end
# end

# RVM
#
## BASH/ZSH
alias rv="rvm current and ruby --version"
alias rgc="rvm gemset create"
alias rgd="rvm gemset delete"
alias rgl="rvm gemset list"
alias rgu="rvm gemset use"
alias rvc="rvm current"
alias rvl="rvm list"
alias rvi="rvm install"
alias rvu="rvm use"

# RAILS
alias sret="export RAILS_ENV='test'"

# VAGRANT
alias vd="vagrant destroy"
alias vs="vagrant ssh"
alias vu="vagrant up"

# RSpec
alias ber="bundle exec rspec"

#PyEnv
if command -v pyenv 1>/dev/null 2>&1
  pyenv init - | source
end

# Batgrep
#
## BASH
#
alias bg="batgrep"

# MongoDB
alias mongostart="mongod --config /usr/local/etc/mongod.conf"
alias mongores="mongorestore --uri='mongodb://$MONGO_DB_HOST:$MONGO_DB_PORT/$MONGO_DB_NAME?$MONGO_DB_PARAMS' --drop --db=$MONGO_DB_NAME $MONGO_DB_DIR"
