# Export any environement variables here
set -x GIT_EDITOR "nvim"
set -x HGEDITOR "nvim"
set -x VISUAL "nvim"
set -x EDITOR "emacs"
# set -x PG_DATA_DIR "/usr/local/var/postgres"
set -x PG_DATA_DIR "/var/lib/postgres/data"

# Add all of your business-related or "secret" exports you don't want on GitHub
# to this file
source ~/.externalexports

# These exports are for anything local to your machine like shell variables for
# things like Fish Shell or PyEnv
source ~/.exports.local
